# Simulation outputs
out/*
_rslurm*

# System compilation outputs
fortran/*
*.bak
*.a
*.o
*.so
exe/hymodelc
exe/hycs_std
exe/arw2arl
exe/xtrct_grid
exe/xtrct_time

# R history and environment
.RData
.Rapp.history
.Rhistory
.Rproj.user
*.Rproj

# MacOS folder attributes
.DS_Store

# Test inputs
stilt-tutorials
*.bak

# Ignore stuff included in base STILT repo
.github
bin
docs
exe
out
out-wo-dat
out-old
r/dependencies.r
r/stilt_cli.r
r/config.r
receptors.rds
r/src/*
!r/generate_receptors.r
!r/src/calc_trajectory.r
!r/src/column_sim_step.r
!r/src/stilt_apply.r
!r/src/simulation_step.r
!r/src/write_control.r
test
Dockerfile
setup
out.txt